PORT=5050
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/photo_studio_admin
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# MSG91 trial/production authentication key. Keep this server-side.
MSG91_AUTH_KEY=547716AIbCYlrlBJ6a4a45dcP1
